<!DOCTYPE html>
<html>
<head>
  <title>Registro Exitoso</title>
</head>
<body>
  <h1>¡Registro exitoso!</h1>
  <p>Nombre: <%= inscripcion.name %></p>
  <p>Email: <%= inscripcion.email %></p>
  <p>Mensaje: <%= inscripcion.message %></p>
  <p>ID de inscripción: <%= inscripcion.id %></p>
</body>
</html>
